In [12]:
def memory_address(var: hex) -> hex:
    return hex(id(var) % 0xfffff)


def print_tuple_info(tpl: tuple) -> tuple:
    print(f"Tupple Adress: {memory_address(tpl)}")
    print("\n")
    for val in tpl:
        print(f"Val: {memory_address(val)}")
    print("\n")

In [13]:
my_tuple = (3, 5, 77)
print_tuple_info(my_tuple)

Tupple Adress: 0x53947


Val: 0xd4e09
Val: 0xd4e49
Val: 0xd5749

Tupple:  is an Immutable Type. Ein Tuple wenn es angelegt ist, kann nicht verändert werden. Tuple sind nicht durch Klammern sondern durch Komma gekennzeichnet. Beispiel: my_var = (10) ist kein Tuple, jedoch my_tuple = (10,) ist ein Tuple

Liste: is Mutable Type, die Werte können vernädert und  hinzugefügt oder entfernt werden

In [ ]:
my_list = [1]
my_tuple2 = (10, 20, my_list)
# die  int values sind nicht Immutable, jedoch die Liste schon. D.h. wir können die Liste verändern, aber nicht an
# Index zwei einen Wert zuweisen.
# Länge in Stein gemeißelt
# Man kann den Wert eines Tupels ändern, sofert der Wert ein Mutable Type ist

In [15]:
print_tuple_info(my_tuple2)

Tupple Adress: 0x71107


Val: 0xd4ee9
Val: 0xd5029
Val: 0x8a5c7

# Tuple Packing & Unpacking

In [18]:
def function():
    return (10, 42.0, True, None)

In [21]:
tpl = function()
print(tpl)

(10, 42.0, True, None)

# Tuple unpacken

my_int, my_float, my_bool, my_none = tpl

Anzahl der gewählten Namen (variablen) muss mit der Anzal der Elemente in tuple übereinstimmen. Variablennamen sind frei wählbar

In [22]:
# möchte man allerdings bestimmte Werte aus Tuple in eine Variable abspreichen
# dann kann man es wie wie folgendem machen

my_int, _, _, my_none = tpl

# Tuple packen

z.b. von my_int, my_float, my_bool, my_none = tpl möchte die ersten beiden Werte beibehalten und Rest packen

my_int3, my_float3, *packed_tuple = tpl

In [23]:

my_int3, my_float3, *packed_tuple = tpl
print(packed_tuple)

[True, None]

In [26]:
my_list = [val**2 if val < 0 else val for val in range(-2, 3, 1)]
print(my_list)

[4, 1, 0, 1, 2]